<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>E-shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>customerAuthServlet</display-name>
    <servlet-name>customerAuthServlet</servlet-name>
    <servlet-class>customer.customerAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerAuthServlet</servlet-name>
    <url-pattern>/customerAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainServlet</display-name>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>customer.mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>customer.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>basketServlet</display-name>
    <servlet-name>basketServlet</servlet-name>
    <servlet-class>customer.basketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>basketServlet</servlet-name>
    <url-pattern>/basketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ordersServlet</display-name>
    <servlet-name>ordersServlet</servlet-name>
    <servlet-class>customer.ordersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ordersServlet</servlet-name>
    <url-pattern>/ordersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admnAuthServlet</display-name>
    <servlet-name>admnAuthServlet</servlet-name>
    <servlet-class>admin.admnAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admnAuthServlet</servlet-name>
    <url-pattern>/admnAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>admin.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminAuthServlet</display-name>
    <servlet-name>adminAuthServlet</servlet-name>
    <servlet-class>admin.adminAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAuthServlet</servlet-name>
    <url-pattern>/adminAuthServlet</url-pattern>
  </servlet-mapping>
</web-app>